main{
	width: 90%;
	text-align: center;
	box-shadow: none;

}

article{
	padding: 5%;
	float: none;
}

header{
	background: url("../_img/topo_mobile_440-centralizado.jpg") no-repeat center;
	height: 86px;
}

article p {
 text-align: center;
 display: block;
}

article h1, article h2{
	text-shadow: none;
}

article img{
text-align: center;
display: block;
margin: 20px auto;
}